* {
    max-width: 900px;
    margin: auto;
}

/*nav-bar css*/
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
}

nav .logo {
    font-family: 'Poppins' sans-serif;
    padding-left: 0;
    color: #fff;
    margin-left: 20px;
    font-size: larger;
}

nav .nav-list {
    color: #fff;
}

.nav-list ul {
    list-style-type: none;
    padding: 30px;
}

.nav-list li {
    display: inline;
    padding: 10px;
    font-family: 'Inter' sans-serif;
}

.nav-list li a {
    color: white;
    text-align: center;
    text-decoration: none;
}

.nav-right li {
    color: #fff;
    display: inline;
    list-style-type: none;
    padding: 20px;
}

.button {
    background-color: #ED661F;
    border: none;
    color: #fff;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

/*Hero css*/
.hero-content {
    background-image: url('photos/image 1.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 40px;
}

.hero-content h1{
    padding: 2px;    
}

/*about css*/

.vl {
    border-left: 20px #ED661F;

}
.about-container {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
}

.about h2 {
    font-family: 'Poppins' sans-serif;
    font-weight: 800;
}

.about p {
    font-family: 'Inter' sans-serif;
    font-size: 16px;
}

/*categories section*/
.categ {
    text-align: center;
}

.vl2 {
    border-left: 6px #ED661F;
    width: 40px;
}

.categ p {
    font-size: 18px;
}

/*card-products section */

.prod_section h1 {
    padding-left: 40px;
}

.card-container{
    display: flex;
    margin:
    justify-content: space-evenly;
}
.card-description em {
    font-size: 12px;
    padding-bottom: 20px;
}
.image-card img {
    width: 150px;
}
.price {
    padding-top: 10px;
}
