* {
    max-width: 900px;
    margin: auto;
    border: 1px black;
}

/*nav-bar css*/
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
}

.logo h2 {
    font-family: 'Poppins' sans-serif;
    font-weight: 900;
    padding-left: 0;
    color: #fff;
    margin-left: 20px;
    font-size: 35px;
}

nav .nav-list {
    color: #fff;
}

.nav-list ul {
    list-style-type: none;
    padding: 30px;
    font-style: 'Poppins' sans-serif;
}

.nav-list li {
    display: inline;
    padding: 10px;

}

.nav-list li a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Poppins' sans-serif;
    font-size: 18px;
    font-weight: 800;
}

.active {
    content: "\27F6";
    color: #ED661F;
}

.nav-right li {
    color: #fff;
    display: inline;
    list-style-type: none;
    padding: 20px;
    font-family: 'Poppins' sans-serif;
    font-size: 18px;
    font-weight: 800;
}

.button {
    background-color: #ED661F;
    border: none;
    color: #fff;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Poppins' sans-serif;
    font-size: 18px;
    font-weight: 800;
}

/*Hero css*/
.hero-content {
    background: url('photos/image 2.png') right top no-repeat, url('photos/image 1.png') bottom no-repeat;
    padding: 30px;
    background-size: 500px, cover;
    padding-left: 40px;
    height: 400px;
}

.hero-content h1 {
    padding: 2px;
    font-family: 'Poppins' sans-serif;
    font-weight: 900;
}

.hero-words p {
    font-family: 'Inter' sans-serif;
    font-weight: 500;
}

/*about css*/

span {
    content: "\27F6";
    color: #ED661F;
    padding-right: 40px;
    font-size: 40px;
    padding-bottom: 20px;
}

.hr1 {
    width: 20%;
    height: 3px;
    background-color: #ED661F;
    margin-right: auto;
    margin-left: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    border-width: 2px;
}

.hr2 {
    width: 10%;
    height: 3px;
    background-color: #ED661F;
    margin-right: auto;
    margin-left: 45%;
    margin-top: 10px;
    margin-bottom: 5px;
    border-width: 2px;
}

.hr3 {
    width: 10%;
    height: 3px;
    background-color: #ED661F;
    margin-right: auto;
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-width: 2px;
}

.hr4 {
    width: 50%;
    height: 3px;
    background-color: #ED661F;
    margin-right: auto;
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-width: 2px;
}

.hr6 {
    width: 10%;
    height: 3px;
    background-color: #ED661F;
    margin-left: 0px;
    border-width: 2px;
}

.about-container {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
}

.about h2 {
    font-family: 'Poppins' sans-serif;
    font-weight: 800;
}

.about p {
    font-family: 'Inter' sans-serif;
    font-size: 16px;
}

/*stats section*/

.stats {
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 50px;
    width: 500px;
    position: absolute;
    bottom: 8px;
    right: 300px;
    background-color: #fff;
}

.stat-1 .stat-2 .stat-3 p {
    padding: 30px;
    font-style: 'Poppins' sans-serif;
    font-weight: 1300;
}

/*categories section*/
.categ {
    text-align: center;
}

.vl2 {
    border-left: 6px #ED661F;
    width: 40px;
}

.categ p {
    font-size: 18px;
}

/*card-products section */

.prod_section h1 {
    padding-left: 40px;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
}

.card-description em {
    font-size: 12px;
    padding-bottom: 20px;
}

.image-card img {
    width: 150px;
}

.price {
    padding-top: 10px;
}

.button2 {
    background-color: #fff;
    border: none;
    color: black;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    float: right;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Inter' sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.btn-more {
    float: right;
    display: flex;
}

.hr5 {
    border: 10px solid rgb(187, 184, 184);
    width: 100%;
}

/*Review card*/

.review-title {
    padding-left: 40px;
}

.checked {
    color: #ED661F;
    font-size: 30px;
    padding: 5px;
}

.checked2 {
    color: grey;
    font-size: 30px;
    padding: 0;
}

.card-description2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 220px;
    height: 250px;
    padding: 20px;
}

.card-container2 {
    display: flex;
    margin: 20px;
    justify-content: space-between;
}

.review-words h3 {
    font-size: 30px;
    padding-top: 20px;
}

.round-img-card {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 10px 10px 0;
    margin-left: 0;
    padding-left: 0;
}

.round-img-card img {
    border-radius: 90%;
    height: 30px;
    margin-left: 0;
}

/*Subscribe section*/

.sub-container {
    background-color: black;
    color: #fff;
    height: 300px;
    width: 100%;
}

.subscribe {
    padding-left: 300px;
    padding-top: 80px;
}

.subscribe p {
    padding-left: 40px;
    padding-top: 10px;
}

hr .line-footer {
    border: 20px #ED661F;
}

.subscribe-cont input[type=text] {
    padding: 10px;
    margin-right: 0;
}

.btn-sub {
    background-color: #ED661F;
    border: none;
    color: #fff;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    margin-left: 0;
    cursor: pointer;
    font-family: 'Poppins' sans-serif;
    font-size: 15px;
    font-weight: 800;
}

/*footer-2*/

.footer-container {
    background-color: black;
    height: 500px;
}


.footer {
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 0;
}

.footer-heading {
    display: flex;
    flex-direction: column;
}

.footer-1 {
    padding-top: 60px;
}

#first-heading {
    float: left;
    padding-bottom: 10px;
    padding-left: 0;
    font-family: 'Poppins' sans-serif;
}

.footer-heading a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.footer-container ul {
    list-style-type: none;
    padding-left: 0;
}

.footer-container li {
    padding: 5px;
}

.footer-heading h2 {
    float: left;
    padding-left: 0;
}

.footer .fa {
    padding: 5px;
    width: 10px;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    display: inline-flex;
}

.footer-1 ul {
    padding-left: 0;
    float: left;
}

.footer-1 li {
    display: inline-flex;
}

.footer-1 p {
    margin-left: 0;
}

.fa-facebook {
    background: grey;
    color: white;
    border: 1px black;
}

.fa-twitter {
    background: gray;
    color: white;
}

.fa-instagram {
    background: gray;
    color: white;
}

.footer-1 img {
    height: 45px;
    padding-left: 0;
}

.badges {
    display: inline-block;
}

.note {
    text-align: center;
    color: #fff;
}