* {
    max-width: 900px;
    margin: auto;
    border: 1px black;
}

/*nav-bar css*/
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
}

nav .logo {
    font-family: 'Poppins' sans-serif;
    padding-left: 0;
    color: #fff;
    margin-left: 20px;
    font-size: larger;
}

nav .nav-list {
    color: #fff;
}

.nav-list ul {
    list-style-type: none;
    padding: 30px;
}

.nav-list li {
    display: inline;
    padding: 10px;
    font-family: 'Inter' sans-serif;
}

.nav-list li a {
    color: white;
    text-align: center;
    text-decoration: none;
}

.nav-right li {
    color: #fff;
    display: inline;
    list-style-type: none;
    padding: 20px;
}

.button {
    background-color: #ED661F;
    border: none;
    color: #fff;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

/*Hero css*/
.hero-content {
    background-image: url('photos/image 1.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 40px;
}

.hero-content h1 {
    padding: 2px;
}

/*about css*/

.vl {
    border-left: 20px #ED661F;

}

.about-container {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
}

.about h2 {
    font-family: 'Poppins' sans-serif;
    font-weight: 800;
}

.about p {
    font-family: 'Inter' sans-serif;
    font-size: 16px;
}

/*categories section*/
.categ {
    text-align: center;
}

.vl2 {
    border-left: 6px #ED661F;
    width: 40px;
}

.categ p {
    font-size: 18px;
}

/*card-products section */

.prod_section h1 {
    padding-left: 40px;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
}

.card-description em {
    font-size: 12px;
    padding-bottom: 20px;
}

.image-card img {
    width: 150px;
}

.price {
    padding-top: 10px;
}

/*Review card*/

.review-title {
    padding-left: 40px;
}

.checked {
    color: #ED661F;
    font-size: 30px;
    padding-bottom: 40px;
}

.checked2 {
    color: grey;
    font-size: 30px;
}

.card-description2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 220px;
    height: 250px;
    padding: 20px;
}

.card-container2 {
    display: flex;
    margin: 20px;
    justify-content: space-evenly;
}

.review-words h3 {
    font-size: 30px;
}

.round-img-card {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 10px 10px 0;
    margin-left: 0;
    padding-left: 0;
}

.round-img-card img {
    border-radius: 90%;
    height: 30px;
    margin-left: 0;
}

/*Subscribe section*/

.sub-container {
    background-color: black;
    color: #fff;
    height: 300px;
    width: 100%;
}

.subscribe {
    padding-left: 300px;
    padding-top: 80px;
}

.subscribe p {
    padding-left: 40px;
    padding-top: 10px;
}

hr .line-footer {
    border: 20px #ED661F;
}

/*footer-2*/

.footer-container {
    background-color: black;
    height: 500px;
}


.footer {
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 0;
}

.footer-heading {
    display: flex;
    flex-direction: column;
}

.footer-1 {
    padding-top: 60px;
}

#first-heading {
    float: left;
    padding-bottom: 10px;
    padding-left: 0;
    font-family: 'Poppins' sans-serif;
}

.footer-heading a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.footer-container ul {
    list-style-type: none;
    padding-left: 0;
}

.footer-container li {
    padding: 5px;
}

.footer-heading h2 {
    float: left;
    padding-left: 0;
}

.footer .fa {
    padding: 5px;
    width: 10px;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    display: inline-flex;
}

.footer-1 ul {
    padding-left: 0;
    float: left;
}

.footer-1 li {
    display: inline-flex;
}

.footer-1 p {
    margin-left: 0;
}

.fa-facebook {
    background: grey;
    color: white;
    border: 1px black;
}

.fa-twitter {
    background: gray;
    color: white;
}

.fa-instagram {
    background: gray;
    color: white;
}

.footer-1 img {
    height: 45px;
    padding-left: 0;
}

.badges {
    display: inline-block;
}

.note {
    text-align: center;
    color: #fff;
}
  